.movie__list {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #2D2D2E transparent;
}


.film__card{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    max-width: 12.5rem;
    max-height: 19.8rem;
    cursor: pointer;
    background-color: var(--color-bg-card);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.film__card:hover {
    transform: scale(1.05);
}

.film__cover{
    height: 14rem;
    width: 10.5rem;
    border-radius: 10px;
}

.film__caption{
    margin-top: 0.5rem;
    text-align: center;
}

.film__title{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-sans);
}


/* -----------padding pour ne pas apparaitre sous la navbar-------------------- */

.title--0{
    padding-top: 9rem;
}