<div class="movie__info">
  <div class="movie__info__header">
    <h2 class="movie__info__title">{{nom_film}}</h2>
    <button class="movie__info__favorite" onclick="handleFavorite()">
      Add to Favorites
    </button>
  </div>
  <ul class="movie__info__list">
    <li class="movie__info__list__item">{{date}}</li>
    <li class="movie__info__list__item">{{realisateur}}</li>
    <li class="movie__info__list__item">{{category}}</li>
    <li class="movie__info__list__item">+{{age}}</li>
  </ul>
</div>
<div class="movie__info__figure">
  <img
    class="movie__info__cover"
    src="./images/{{cover}}"
    alt="Cover du film {{nom_film}}"
  />
  <figcaption>{{description}}</figcaption>
</div>
<div class="movie__info__trailer__container">
  <iframe
    class="movie__info__trailer"
    src="{{trailer}}"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
