<div class="movie__info">
  <h2 class="movie__info__title">{{nom_film}}</h2>
  <ul class="movie__info__list">
    <li class="movie__info__list__item">{{date}}</li>
    <li class="movie__info__list__item">{{realisateur}}</li>
    <li class="movie__info__list__item">{{age}}</li>
    <li class="movie__info__list__item">{{category}}</li>
  </ul>
</div>
<div>
  <img class="movie__info__cover" src="./images/{{cover}}" alt="Cover du film {{nom_film}}" />
  <figcaption>{{description}}</figcaption>
</div>
<video class="movie__info__trailer" src="{{trailer}}"></video>
