.movie__list {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #2D2D2E transparent;
    background: transparent;
  
  }

  .title {
    margin-top: 0.5rem;
    margin: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--ff-sans);
    color: var(--color-text);
  }
  
  .film__card {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    max-width: 12.5rem;
    height: 19.8rem;
    background-color: var(--color-bg-card);
    border-radius: 10px;
  }
  
  .film__cover {
    height: 14rem;
    width: 10.5rem;
    border-radius: 10px;
  }
  
  .film__caption {
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .film__title {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-sans);
  }

  