html {
  scroll-padding-top: 10rem;
  scroll-behavior: smooth; /* Prend en compte la hauteur de la barre de navigation pour aller vers.... */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: var(--color-fg);
  background-color: var(--color-bg-nav);

  .navbar__item {
    --_offset: 0.2rem;
    padding: 1rem 1rem;

    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    text-wrap: nowrap;
    cursor: pointer;
    color: var(--color-fg);
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}

/* Menu Drop Down des Catégories */

.dropdown__item {
  padding: 1rem 1rem;
  text-wrap: nowrap;
  cursor: pointer;
  color: var(--color-fg);
}

.navbar__search--form{
  margin: 0 1rem;
}

.navbar__search{
  padding: 0.5rem;
  border-radius: 50px;
  border: none;

}


.dropdown {
  position: relative;
}

.dropdown__toggle {
  cursor: pointer;
}

.dropdown__menu {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  background-color: var(--color-bg-detail);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.dropdown:focus-within .dropdown__menu {
  display: block;
}

.navbar__logo--a {
  width: 4rem;
  height: 4rem;
}

.navbar__logo,
.navbar__logo--a {
  height: 4rem;
  width: 4rem;
  flex-shrink: 0;
}

.navbar__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%; /* S'assurer que le conteneur prend toute la largeur disponible */
}

li {
  list-style: none;
}

.main-nav {
  position: fixed;
  inset: 0 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25%;
  background-color: var(--color-bg-nav);
  translate: 100%;
  transition-duration: 1s;
}

#menu-toggle {
  display: none;
}

.burger {
  position: relative;
  z-index: 1000;
  cursor: pointer;
  @media (min-width: 50rem) {
    & {
      display: none;
    }
  }
}

.label{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.burger__line:nth-child(1) {
  --_trans: 9px;
  --_rotate: 45deg;
  transform-origin: 4px 10px;
  transition: translate 0.2s 0.4s, ease-in-out, rotate 0.2s 0.2s ease-in-out;
}

.burger__line:nth-child(2) {
  transition: translate 0.2s 0.4s, ease-in-out, rotate 0.2s 0.2s ease-in-out;
}

.burger__line:nth-child(3) {
  --_trans: -9px;
  --_rotate: -45deg;
  transform-origin: 4px 25px;
  transition: translate 0.2s 0.4s, ease-in-out, rotate 0.2s 0.2s ease-in-out;
}

.burger:hover :where(:nth-child(1), :nth-child(3)) {
  z-index:500;
  stroke: var(--btn-color-hover);
}

/* - Checked */

[type="checkbox"]:checked ~ .label .burger .burger__line {
  transform: 0 var(--_trans);
  rotate: var(--_rotate);
  transition: translate 0.2s 0.2s, ease-in-out, rotate 0.2s 0.4s ease-in-out;
}

/* Pour la ligne 2 */
[type="checkbox"]:checked ~ .label .burger .burger__line:nth-child(2) {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Pour le menu */
[type="checkbox"]:checked ~ .main-nav {
  translate: 0;
}

.burger {
  position: fixed;
}

.main-nav__item {
  margin-block: 1rem;
}

@media (min-width: 570px){
  .navbar__search{
    width: 18rem;
    margin: 0 2rem;
  }
}


@media (min-width: 800px) {
  .main-nav {
    position: relative;
    justify-content: center;
    padding: 0;
    inset: 0;
    background-color: #ffffff00;
    translate: 0%;
  }
  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 7rem;
  }
}
